#loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: center no-repeat #fff;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.loader {
  border: 10px solid #fff;
  border-radius: 50%;
  border-top: 10px solid #7fb742;
  border-bottom: 10px solid #203873;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 33%;
  -webkit-animation: spin 2s linear infinite;
  position: fixed;
  animation: spin 2s linear infinite;
}

/*---- START TRANSITION ----*/
.fade-in {
animation: fadeIn ease 5s;
-webkit-animation: fadeIn ease 5s;
-moz-animation: fadeIn ease 5s;
-o-animation: fadeIn ease 5s;
-ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
/*---- END TRANSITION ----*/

.navbar-default .navbar-nav > li > a {
    color: #808080;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #7fb742;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #7fb742;
    background-color: #e7e7e7;
}

.col-half-offset{
    margin-left:2.166666667%
}

.link {
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
}

.btn-psu {
    color: #fff;
    background-color: #7fb742;
    border-color: #7fb742;
}

.btn-psu:hover {
    color: #fff;
    background-color: #203873;
    border-color: #203873;
}

.btn-ddfi {
    color: #fff;
    background-color: #ee861e;
    border-color: #ee861e;
}

.btn-ddfi:hover {
    color: #fff;
    background-color: #203873;
    border-color: #203873;
}

.btn-pufi {
    color: #fff;
    background-color: #00a5e6;
    border-color: #00a5e6;
}

.btn-pufi:hover {
    color: #fff;
    background-color: #203873;
    border-color: #203873;
}

.btn-pums {
    color: #fff;
    background-color: #008745;
    border-color: #008745;
}

.btn-pums:hover {
    color: #fff;
    background-color: #203873;
    border-color: #203873;
}

.btn-nbsu {
    color: #fff;
    background-color: #e64036;
    border-color: #e64036;
}

.btn-nbsu:hover {
    color: #fff;
    background-color: #203873;
    border-color: #203873;
}

.btn-pupat {
    color: #fff;
    background-color: #ba1f3d;
    border-color: #ba1f3d;
}

.btn-pupat:hover {
    color: #fff;
    background-color: #203873;
    border-color: #203873;
}

.btn-pufd {
    color: #fff;
    background-color: #0071b1;
    border-color: #0071b1;
}

.btn-pufd:hover {
    color: #fff;
    background-color: #203873;
    border-color: #203873;
}

.btn-dpl {
    color: #fff;
    background-color: #264088;
    border-color: #264088;
}

.btn-dpl:hover {
    color: #fff;
    background-color: #e65a24;
    border-color: #e65a24;
}

.btn-o {
    color: #fff;
    background-color: transparent;
    border-color: #fff 2px solid;
}

.btn-o:hover {
    color: #fff;
    background-color: #203873;
    border-color: #203873;
}

.btn-primary2 {
    color: #fff;
    font-weight: 700;
    background-color: #7fb742;
    border-color: #7fb742;
    width: 136px;
}

.btn-primary2:hover {
    color: #fff;
    background-color: #e65a24;
    border-color: #e65a24;
}

.btn-primary3 {
    color: #fff;
    font-weight: 700;
    background-color: #e65a24;
    border-color: #e65a24;
}

.btn-primary3:hover {
    color: #fff;
    background-color: #7fb742;
    border-color: #7fb742;
}

.btn-plain {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.btn-plain:hover {
  color: #7fb742;
}

.header-bottom {
  text-align: center;
  width: 100%;
}

.carousel-indicators {
  position: absolute;
  bottom: 5%;
  z-index: 15;
  width: 60%;
  margin-left: -49%;
  text-align: left;
  list-style: none;
  margin-bottom: 3%;
}

.carousel-indicators li {
    width: 1vw;
    height: 1vw;
    margin: 0 5px;
    border-radius: 100%;
    border: 2px solid #fff;
    background: transparent;
}

.carousel-indicators .active {
  margin: 0 5px;
  width: 1vw;
  height: 1vw;
}

/*---- START MAIN SLIDER ----*/
#main-slider .carousel-control i {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none !important;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-radius: 50%;
    height: 50px;
    line-height: 45px;
    top: 50%;
    width: 50px;
    z-index: 1;
    color: #203873;
}

#main-slider .carousel-control i:hover {
    background: transparent;
    border: solid 2px;
}

#main-slider .carousel-control.left {
  background: transparent;
  top: 25%; left: -4%;
}

#main-slider .carousel-control.right {
  background: transparent;
  top: 25%; 
  right: -4.2%;
}

#main-slider .slider-caption {
  position: fixed;
  width: 40%;
  top: 7%;
  z-index: 10;
  /*padding-right: 5%;*/
}

#main-slider .slider-caption h1 {
  color: #264080;
}

#main-slider .slider-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#main-slider .slider-title {
  /*font-size:3vw;*/
  margin-top: 1%;
  margin-bottom: 1%;
  line-height: 1;
}

#main-slider .slider-description {
  /*font-size:1.1vw;*/
  margin: 3% auto;
}
/*---- END MAIN SLIDER ----*/


/*---- START PRDUCT SLIDER ----*/
/*.carousel-indicators {
  position: absolute;
  bottom: 30px;
  z-index: 15;
  width: 60%;
  margin-left: -27%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 100%;
    border: 2px solid #fff;
    background: transparent;
}

.carousel-indicators .active {
  margin: 0 5px;
}*/

#product-slider .carousel-control i {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none !important;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-radius: 50%;
    height: 50px;
    line-height: 45px;
    top: 50%;
    width: 50px;
    z-index: 1;
    color: #203873;
}

#product-slider .carousel-control i:hover {
    background: transparent;
    border: solid 2px;
}

#product-slider .carousel-control.left {
  background: transparent;
  top: 25%; left: -4%;
}

#product-slider .carousel-control.right {
  background: transparent;
  top: 25%; right: -4.2%;
}

#product-slider .slider-caption {
  position: fixed;
  width: 40%;
  top: 30%;
  z-index: 10;
  /*padding-right: 5%;*/
}

#product-slider .slider-caption h1 {
  color: #fff;
}

#product-slider .slider-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#product-slider .slider-title {
  /*font-size:3vw;*/
  margin-top: 1%;
  margin-bottom: 1%;
  line-height: 1;
}

#product-slider .slider-description {
  /*font-size:1.1vw;*/
  color: #fff;
  margin: 3% auto;
}

/*---- END PRODUCT SLIDER ----*/

.slider-top-box {
    margin: 10% auto;
    overflow: hidden;
    /*padding-left: 15px;*/
}

.slider-top-box p{
    color: #5d5d5d;
    font-size: 16px;
    margin-top: 35px;
}

.slider-middle-box {
    margin: 40% auto;
    overflow: hidden;
    /*padding-left: 15px;*/
}

.slider-middle-box p{
    color: #fff;
    font-size: 16px;
    margin-top: 35px;
}

.slider-bottom-box {
    /*padding-left: 15px;*/
    padding: 0 1.2%;
    text-align: center;    
}

.slider-bottom-box p{
    color: #5d5d5d;
    font-size: 16px;
    margin-top: 35px;
}

/*---- START SELECTOR ----*/
.selector {
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 5%;
}

.selector-box {
  padding: 2% 5%;
  background-color: #7fb742;
  height: 150px;
  transition: 0.1s;
}

.act, .selector-box:hover {
  height: 180px;
  background-color: #264080;
}

.selector-box-title {
  font-weight: bold;
  color: #fff;
}

.selector-box-link {
  color: #fff;
  font-size: 70%;
  float: left;
  position: absolute;
  bottom: 10%;
  left: 17%;
  display: none;
}

.actv, .selector-box-link:hover {
  display: block;
  color: #fff;
}

/*---- END SELECTOR ----*/

.home-top-box {
    color: black;
    margin: 30px auto;
    overflow: hidden;
    /*padding-left: 15px;*/
}

.home-top-box2 {
    margin: 20px auto;
    overflow: hidden;
    /*padding-left: 15px;*/
}

.home-top-box3 {
    margin: 30px auto 0 auto;
    overflow: hidden;
    /*padding-left: 15px;*/
}

.home-aboutus {
    color: black;
    padding: 5% 0;
    background-image: url(../../assets/images/aboutus/Home-15.png);
    background-size: cover;
}

.home-aboutus h2{
    color: #7fb742;
}

.home-businessstructure {
    background-image: url(../../assets/images/pangansarigroup/Struktur-Bisnis-02.jpg);
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-businessstructure h2{
    color: #203873;
}

.home-news {
    padding: 5% 0;
    background-color: #203873;
    color: #7e7e7e;
}

.home-news ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-news li {
  float: right;
  width: 15%;
}

.home-news h2 {
    color: #7fb742;
}

.home-news h5 {
    color: #fff;
    line-height: 1.5;
}

.home-news2 img {
   max-width:100%; 
}

.home-news2 a {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease; 
}

.home-news2 a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE7 */
  opacity: 0.6;
  text-decoration: none;
}

/* List style */
.home-news2 ul.thumbnails { 
  list-style: none; 
  margin: 0;
  padding: 0;
}

.home-news2 .caption-box h4 {
  /* font-size: 0.94rem; */
  color: #444;
  }
  
.home-news2 .caption-box p {
  /* font-size: 0.75rem; */
  color: #999;
}

/* .home-news2 .btn.btn-mini {
  font-size: 0.63rem;
} */

.home-certificate {
    padding: 5% 0;
    background-color: #fff;
}

.home-certificate h2{
    color: #7fb742;
}

.pangansarigroup-head {
  /*background: #7fb742;*/
  background-image: url("../../assets/images/pangansarigroup/PangansariGroup-47.png");
  padding: 125px 0;
  background-size: cover;
}

.pangansarigroup-structure {
  position: relative;
  color: white;
}

.pangansarigroup-structure-title {
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 2.5vw;
    font-weight: 700;
    color: #203873;
    line-height: 1.2;
}

.pangansarigroup-visionmission {
    padding: 9% 0;
    background-image: url(../../assets/images/pangansarigroup/PangansariGroup-50.png);
    background-size: contain;
    color: #fff;
}

.vissionmission {
    overflow: hidden;
}

.vissionmission img {
    float: left;
    margin: 0 2% 10% 2%;
}

.vissionmission h3,
.vissionmission p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    text-align: left;
}

.ourbusiness-catering {
    /*background:#f8f8f8;*/
    padding: 50px 0;
}

.ourbusiness-productions{
    background:#edeeef;
    padding-bottom: 5%;
}

.ourbusiness-retails{
    background:#fff;
    padding-bottom: 5%;
}

.ourbusiness-trading{
    background:#edeeef;
    padding-bottom: 5%;
}

.ourbusiness-outsourcing{
    background:#fff;
    padding-bottom: 5%;
}

.news {
    /*background:#f8f8f8;*/
    padding: 50px 0;
}

.news-box {
    padding: 20px 0;
    text-align: center;
}

.news-box-icon-background {
    border-width: 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto 25px auto;
}

.news-box-icon-background i {
    margin-top: 37px;
    color: #7fb742;
}

.news-box h4 {
    color: #555555;
    font-size: 18px;
    margin: 0 0 15px 0;
}

.news-box p {
    color: #777;
    font-size: 14px;
}

.news-list-box{
    color: black;
    position: relative;
    overflow: hidden;
    padding: 30px;
    border: 1px solid #eeeeee;
    background: #f6f6f6;
}

.news-list-box-pager {
  margin-bottom: 30px;
}

.blog-list .news-list-box{
    padding:0;
    border: 0;
    background: none;
}
.news-list-box h3 {
    margin-top: 30px;
    text-align: left;
}

.news-list-box h3 a {
    font-size: 20px;
    color: #555555;
}

.news-list-box h3 a:hover {
    font-size: 20px;
    color: #999;
}

.news-list-box h4 {
  color: #7fb742;
}

.news-list-box p {
    font-size: 14px;
    color: #777;
    line-height: 26px;
    margin: 15px 0;
}
.news-list-box .comments {
    margin:15px 0;
    text-align: center;
}
.blog-list .news-list-box .comments {
    margin: 5px 0;
    text-align: left;
}
.news-list-box .comments a {
    color: #fff;
    cursor: none;
}
.blog-list  .news-list-box .comments a {
    color: #212121;
}

.news-list-box ul {
    list-style-type: none;
    padding: 0 0 20px 0;
    /*padding: 0;*/
}

.news-list-box ul li {
    margin: 20px 0;
}

.news-list-box ul li a {
    color: #777;
}

.news-list-box ul li a:hover {
    text-decoration: none;
    color: #7fb742;
}

.news-list-box .underline {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 15px 0;
}

.news-list-box ul li a.tag {
    float: left;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #777;
}

.news-list-box ul li a.tag:hover {
    float: left;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #7fb742;
    color: #7fb742;
}

.news-description {
  text-align: justify;
}

.news-description p {
  font-family: Arial, Helvetica, sans-serif;
  color:black;
}

.news-description ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.news-description ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.news-description ol li {
  display: list-item;
  line-height: 2;
}

.news-description ul li {
  display: list-item;
  line-height: 1;
}

.career-box{
    position: relative;
    overflow: hidden;
    padding: 30px;
    border: 1px solid #eeeeee;
    background: #f6f6f6;
}

.career-box-pager {
  margin-bottom: 30px;
}

.blog-list .career-box{
    padding:0;
    border: 0;
    background: none;
}
.career-box h3 {
    margin-top: 30px;
    text-align: left;
    color: #203873;
}

.career-box h3 a {
    font-size: 20px;
    color: #555555;
}

.career-box h3 a:hover {
    font-size: 20px;
    color: #999;
}

.career-box h4 {
  color: #7fb742;
}

.career-box p {
    font-size: 14px;
    /* color: #777; */
    color: black;
}

.career-box ul {
  color: black;
    padding: 0 15px;
}

.career-box .comments {
    margin:15px 0;
    text-align: center;
}
.blog-list .career-box .comments {
    margin: 5px 0;
    text-align: left;
}
.career-box .comments a {
    color: #fff;
    cursor: none;
}
.blog-list  .career-box .comments a {
    color: #212121;
}

.career-box .underline {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 15px 0;
}

.contact {
    padding: 30px 0;
}

.contact-top-box {
    color: black;
    margin: 30px auto;
    overflow: hidden;
    /*padding-left: 15px;*/
}

.contact-top-box label {
  color: black;
}

.contact-top-box h4 {
  color: #203873;
  padding-bottom: 5%;
}

.contact  .single-location{
    text-align: center;
    margin-bottom: 50px;
}
.contact .loc-icon {
    display:block;
    margin-bottom: 25px;
}
.contact .loc-content {
    color: #282828;
    font-size: 14px;
    display:block;
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.contact .success,
.contact .error {
    display: none;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 48px;
}

.contact .success {
    color: green;
}

.contact .error {
    color: red;
}

.contact .success .fa,
.contact .error .fa {
    font-size: 18px;
    margin-right: 5px;
}

.form-label {
  font-weight: 200;
}

.contact input[type="text"] {
    border-radius: 5px;
    padding: 10px 15px;
}

.contact textarea {
    border-radius: 5px;
    padding: 25px 15px;
}

.contact iframe {
    width: 100% !important;
}

.contact p {
  line-height: 1.5;
}

.contact .address {
    margin: 20px 0;
}

.contact .address h4 {
    color: #203873;
}

.img-preview {
    margin-bottom: 10%;
}

@media (min-width:768px) {
   .navbar-right {
      margin-top: 1.5%;
   }
   .footer-align-1{
    text-align: left;
   }

   .footer-align-2{
    text-align: left;
   }

   .footer-align-3{
    text-align: right;
   }
}

.sticky-cart {
  padding-right: 10%;
}

.sticky-cart-content {
  position:absolute;
  top: 8%;
}

.sticky-cart-img {
  max-width: none;
  width: 60%;
}

@media only screen and (min-width : 320px) {  
  /* Styles */
  .loader{
      left: 29%;
  }

  /*---- START MAIN SLIDER ----*/
    #main-slider .col-xs-offset-1 {
      margin-left: 6.5%;
    }

    #main-slider .col-xs-2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    #main-slider .carousel-control {
      width: 20px;
      height: 20px;
    }

    #main-slider .carousel-control i {
      width: 20px;
      height: 20px;
      line-height: 14px;
    }

    #main-slider .carousel-control.left {
      top: 5%; left: 1%;
    }

    #main-slider .carousel-control.right {
      top: 5%; right: 5%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 40px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 50px;
    }
    /*---- END MAIN SLIDER ----*/


    /*---- START PRODUCT SLIDER ----*/
    #product-slider .slider-title {
      font-size: 3vw;
    }

    #product-slider .slider-description {
      font-size: 1vw;
    }
    /*---- END PRODUCT SLIDER ----*/
}

@media only screen and (min-width : 360px) {  
  /* Styles */
    .selector-box {
      height: 45px;
    }

    .act, .selector-box:hover {
      height: 55px;
    }
}

@media only screen and (min-width : 400px) {  
  /* Styles */

    .loader{
        left: 31%;
    }

    #main-slider .col-xs-offset-1 {
      margin-left: 6.5%;
    }

    #main-slider .col-xs-2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    #main-slider .carousel-control {
      width: 20px;
      height: 20px;
    }

    #main-slider .carousel-control i {
      width: 20px;
      height: 20px;
      line-height: 14px;
    }

    #main-slider .carousel-control.left {
      top: 5%; left: 1%;
    }

    #main-slider .carousel-control.right {
      top: 5%; right: 5%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 50px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 60px;
    }
}

@media only screen and (min-width : 460px) {  
  /* Styles */
    .loader{
      left: 34%;
    }

    .selector-box {
      height: 55px;
    }

    .act, .selector-box:hover {
      height: 65px;
    }
}

@media only screen and (min-width : 500px) {  
  /* Styles */
    .loader{
      left: 35%;;
    }

    #main-slider .col-xs-offset-1 {
      margin-left: 6.5%;
    }

    #main-slider .col-xs-2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    #main-slider .carousel-control {
      width: 25px;
      height: 25px;
    }

    #main-slider .carousel-control i {
      width: 25px;
      height: 25px;
      line-height: 18px;
    }

    #main-slider .carousel-control.left {
      top: 14%; left: 1%;
    }

    #main-slider .carousel-control.right {
      top: 14%; right: 5%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 65px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 75px;
    }
}

@media only screen and (min-width : 580px) {  
  /* Styles */
    .loader{
      left: 38%;
    }

    .selector-box {
      height: 70px;
    }

    .act, .selector-box:hover {
      height: 80px;
    }
}

@media only screen and (min-width : 600px) {  
  /* Styles */
    #main-slider .col-xs-offset-1 {
      margin-left: 6.5%;
    }

    #main-slider .col-xs-2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    #main-slider .carousel-control {
      width: 30px;
      height: 30px;
    }

    #main-slider .carousel-control i {
      width: 30px;
      height: 30px;
      line-height: 24px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 1%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 5%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 75px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 90px;
    }
}

@media only screen and (min-width : 680px) {  
  /* Styles */
    .loader{
      left: 40%;
    }

    .selector-box {
      height: 80px;
    }

    .act, .selector-box:hover {
      height: 95px;
    }
}

@media only screen and (min-width : 700px) {  
  /* Styles */
    #main-slider .col-xs-offset-1 {
      margin-left: 7.2%;
    }

    #main-slider .col-xs-2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    #main-slider .carousel-control {
      width: 30px;
      height: 30px;
    }

    #main-slider .carousel-control i {
      width: 30px;
      height: 30px;
      line-height: 24px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 2%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 4.6%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 90px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 110px;
    }
}

@media only screen and (min-width : 800px) {  
  /* Styles */
    .loader{
      left: 42%;
    }

    #main-slider .col-xs-offset-1 {
      margin-left: 5.9%;
    }

    #main-slider .col-xs-2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    #main-slider .carousel-control {
      width: 35px;
      height: 35px;
    }

    #main-slider .carousel-control i {
      width: 35px;
      height: 35px;
      line-height: 30px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 0%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 5%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 100px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 120px;
    }
}

@media only screen and (min-width : 840px) {  
  /* Styles */
    #main-slider .col-xs-offset-1 {
      margin-left: 4.7%;
    }

    #main-slider .col-xs-2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    #main-slider .carousel-control {
      width: 35px;
      height: 35px;
    }

    #main-slider .carousel-control i {
      width: 35px;
      height: 35px;
      line-height: 30px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: -2%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 5%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 100px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 120px;
    }
}

@media only screen and (min-width : 900px) {  
  /* Styles */
    .loader{
      left: 43%;
    }

    #main-slider .col-xs-offset-1 {
      margin-left: 2.8%;
    }

    #main-slider .col-xs-2 {
      padding-right: 1%;
      padding-left: 1%;
    }

    #main-slider .carousel-control {
      width: 40px;
      height: 40px;
    }

    #main-slider .carousel-control i {
      width: 40px;
      height: 40px;
      line-height: 33px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: -4%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 6.5%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 100px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 120px;
    }
}

@media only screen and (min-width : 1000px) {  
  /* Styles */
    .loader{
      left: 44%;
    }

    #main-slider .col-xs-offset-1 {
      margin-left: 6.5%;
    }

    #main-slider .col-xs-2 {
      padding-right: 15px;
      padding-left: 15px;
    }

    #main-slider .carousel-control {
      width: 40px;
      height: 40px;
    }

    #main-slider .carousel-control i {
      width: 40px;
      height: 40px;
      line-height: 33px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 2%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 5.7%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw;
    }

    .selector-box {
      height: 120px;
    }

    .selector-box-title {
      font-size: 1vw;
    }

    .selector-box-link {
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 140px;
    }
}

@media only screen and (min-width : 1280px) {  
  /* Styles */
    #main-slider .col-xs-offset-1 {
      margin-left: 8.33333333%;
    }

    #main-slider .col-xs-2 {
      padding-right: 15px;
      padding-left: 15px;
    }

    #main-slider .carousel-control {
      width: 50px;
      height: 50px;
    }

    #main-slider .carousel-control i {
      width: 50px;
      height: 50px;
      line-height: 42px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 1.8%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 1.8%;
    }

    #main-slider .slider-title {
      font-size: 3vw;
    }

    #main-slider .slider-description {
      font-size: 1vw
    }

    .selector-box {
      height: 150px;
    }

    .selector-box-title {
      font-size: 1vw
    }

    .selector-box-link {
      color: #fff;
      font-size: 0.7vw;
    }

    .act, .selector-box:hover {
      height: 180px;
    }
}

@media only screen and (min-width : 1366px) {  
  /* Styles */
    .loader{
      left: 45%;
    }

    #main-slider .col-xs-offset-1 {
      margin-left: 6.33333333%;
    }

    #main-slider .col-xs-2 {
      padding-right: 15px;
      padding-left: 15px;
    }

    #main-slider .carousel-control {
      width: 50px;
      height: 50px;
    }

    #main-slider .carousel-control i {
      width: 50px;
      height: 50px;
      line-height: 42px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 0%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 3.8%;
    }

    #main-slider .slider-title {
      font-size: 36px;
    }

    #main-slider .slider-description {
      font-size: 14px;
    }

    .selector-box {
      height: 150px;
    }

    .selector-box-title {
      font-size: 14px;
    }

    .selector-box-link {
      font-size: 11px;
    }

    .act, .selector-box:hover {
      height: 180px;
    }

    #main-slider .slider-caption {
      color: black;
      width: 30%;
    }

    /*---- START PRODUCT SLIDER ----*/
    #product-slider .slider-caption {
      width: 30%;
    }

    #product-slider .slider-title {
      font-size: 36px;
    }

    #product-slider .slider-description {
      font-size: 14px;
    }
    /*---- END PRODUCT SLIDER ----*/
}

@media only screen and (min-width : 1440px) {  
  /* Styles */
    .loader{
      left: 46%;
    }

    #main-slider .col-xs-offset-1 {
      margin-left: 6.33333333%;
    }

    #main-slider .col-xs-2 {
      padding-right: 15px;
      padding-left: 15px;
    }

    #main-slider .carousel-control {
      width: 50px;
      height: 50px;
    }

    #main-slider .carousel-control i {
      width: 50px;
      height: 50px;
      line-height: 42px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 0%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 3.8%;
    }

    #main-slider .slider-title {
      font-size: 36px;
    }

    #main-slider .slider-description {
      font-size: 16px;
    }

    .selector-box {
      height: 150px;
    }

    .selector-box-title {
      font-size: 14px;
    }

    .selector-box-link {
      font-size: 11px;
    }

    .act, .selector-box:hover {
      height: 180px;
    }

    #main-slider .slider-caption {
      width: 30%;
    }

    /*---- START PRODUCT SLIDER ----*/
    #product-slider .slider-title {
      font-size: 36px;
    }

    #product-slider .slider-description {
      font-size: 16px;
    }
    /*---- END PRODUCT SLIDER ----*/
}

@media only screen and (min-width : 1600px) {  
  /* Styles */
    #main-slider .col-xs-offset-1 {
      margin-left: 6.33333333%;
    }

    #main-slider .col-xs-2 {
      padding-right: 15px;
      padding-left: 15px;
    }

    #main-slider .carousel-control {
      width: 50px;
      height: 50px;
    }

    #main-slider .carousel-control i {
      width: 50px;
      height: 50px;
      line-height: 42px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 0%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 3.8%;
    }

    #main-slider .slider-title {
      font-size: 36px;
    }

    #main-slider .slider-description {
      font-size: 16px;
    }

    .selector-box {
      height: 150px;
    }

    .selector-box-title {
      font-size: 14px;
    }

    .selector-box-link {
      font-size: 11px;
    }

    .act, .selector-box:hover {
      height: 180px;
    }

    #main-slider .slider-caption {
      width: 25%;
    }

    #product-slider .slider-caption {
      width: 25%;
    }
}

@media only screen and (min-width : 1920px) {  
  /* Styles */
    .loader{
      left: 47%;
    }

    #main-slider .col-xs-offset-1 {
      margin-left: 6.33333333%;
    }

    #main-slider .col-xs-2 {
      padding-right: 15px;
      padding-left: 15px;
    }

    #main-slider .carousel-control {
      width: 50px;
      height: 50px;
    }

    #main-slider .carousel-control i {
      width: 50px;
      height: 50px;
      line-height: 42px;
    }

    #main-slider .carousel-control.left {
      top: 20%; left: 0%;
    }

    #main-slider .carousel-control.right {
      top: 20%; right: 3.8%;
    }

    #main-slider .slider-title {
      font-size: 36px;
    }

    #main-slider .slider-description {
      font-size: 22px;
    }

    .selector-box {
      height: 150px;
    }

    .selector-box-title {
      font-size: 14px;
    }

    .selector-box-link {
      font-size: 11px;
    }

    .act, .selector-box:hover {
      height: 180px;
    }

    #main-slider .slider-caption {
      width: 23%;
    }

    /*---- START PRODUCT SLIDER ----*/
    #product-slider .slider-caption {
      width: 23%;
    }

    #product-slider .slider-title {
      font-size: 36px;
    }

    #product-slider .slider-description {
      font-size: 22px;
    }
    /*---- END PRODUCT SLIDER ----*/
}

@media only screen and (min-width : 2048px) {  
  /* Styles */
    .loader{
      left: 48%;
   }
}

@media screen and (max-width: 768px) {
  /*#selector {
    visibility: hidden;
    display: none;
  }*/

  .slide-sub-title2 {
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 15px 0;
    color: #fff;
    font-weight: 700;
    /*text-transform: uppercase;*/
  }

  .footer-align-1{
    text-align: left;
   }

   .footer-align-2{
    text-align: left;
   }

   .footer-align-3{
    text-align: left;
   }
}